In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'
pd.set_option('mode.chained_assignment',  None) # 경고를 끈다
pd.set_option('display.max_columns', None) # 모든 열 출력
plt.rcParams['axes.unicode_minus'] = False

In [2]:
accident = pd.read_csv('data/ppt/2021년도기준 교통사고 현황(최근6년).csv', encoding='cp949')

In [4]:
accident

          구분    유형    2016년    2017년    2018년    2019년    2020년    2021년
0       전체사고  사고건수  220,917  216,335  217,148  229,600  209,654  203,130
1       전체사고   사망자    4,292    4,185    3,781    3,349    3,081    2,916
2       전체사고   부상자  331,720  322,829  323,037  341,712  306,194  291,608
3       사망사고  사고건수    4,119    4,065    3,657    3,233    2,983    2,816
4       사망사고   사망자    4,292    4,185    3,781    3,349    3,081    2,916
5       사망사고   부상자    2,201    2,205    1,915    1,772    1,561    1,325
6      어린이사고  사고건수   11,264   10,960   10,009   11,054    8,400    8,889
7      어린이사고   사망자       71       54       34       28       24       23
8      어린이사고   부상자   14,215   13,433   12,543   14,115   10,500   10,978
9       노인사고  사고건수   35,761   37,555   38,647   40,645   35,312   34,907
10      노인사고   사망자    1,732    1,767    1,682    1,523    1,342    1,295
11      노인사고   부상자   38,413   40,579   41,833   44,390   38,147   37,894
12     보행자사고  사고건수   49,235   47,377   45,921   46,682   36,601   35,665
13     보행자사고   사망자    1,714    1,675    1,487    1,302    1,093    1,018
14     보행자사고   부상자   49,725   47,707   46,400   47,200   36,939   36,001
15     자전거사고  사고건수    5,936    5,659    4,771    5,633    5,667    5,509
16     자전거사고   사망자      113      126       91       79       83       70
17     자전거사고   부상자    6,292    5,932    5,041    6,020    6,150    5,999
18     이륜차사고  사고건수   13,076   18,241   17,611   20,898   21,258   20,598
19     이륜차사고   사망자      428      564      537      498      525      459
20     이륜차사고   부상자   15,773   22,082   21,621   26,514   27,348   26,617
21  사업용자동차사고  사고건수   49,041   44,784   45,122   47,179   40,108   37,801
22  사업용자동차사고   사망자      853      821      748      633      575      569
23  사업용자동차사고   부상자   76,324   70,019   69,583   72,906   59,956   55,573
24    음주운전사고  사고건수   19,769   19,517   19,381   15,708   17,247   14,894
25    음주운전사고   사망자      481      439      346      295      287      206
26    음주운전사고   부상자   34,423   33,364   32,952   25,961   28,063   23,653
27       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
28       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
29       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
30       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
31       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
32       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
33       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
34       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN
35       NaN   NaN      NaN      NaN      NaN      NaN      NaN      NaN

In [5]:
accident = accident.dropna()

In [6]:
accident

          구분    유형    2016년    2017년    2018년    2019년    2020년    2021년
0       전체사고  사고건수  220,917  216,335  217,148  229,600  209,654  203,130
1       전체사고   사망자    4,292    4,185    3,781    3,349    3,081    2,916
2       전체사고   부상자  331,720  322,829  323,037  341,712  306,194  291,608
3       사망사고  사고건수    4,119    4,065    3,657    3,233    2,983    2,816
4       사망사고   사망자    4,292    4,185    3,781    3,349    3,081    2,916
5       사망사고   부상자    2,201    2,205    1,915    1,772    1,561    1,325
6      어린이사고  사고건수   11,264   10,960   10,009   11,054    8,400    8,889
7      어린이사고   사망자       71       54       34       28       24       23
8      어린이사고   부상자   14,215   13,433   12,543   14,115   10,500   10,978
9       노인사고  사고건수   35,761   37,555   38,647   40,645   35,312   34,907
10      노인사고   사망자    1,732    1,767    1,682    1,523    1,342    1,295
11      노인사고   부상자   38,413   40,579   41,833   44,390   38,147   37,894
12     보행자사고  사고건수   49,235   47,377   45,921   46,682   36,601   35,665
13     보행자사고   사망자    1,714    1,675    1,487    1,302    1,093    1,018
14     보행자사고   부상자   49,725   47,707   46,400   47,200   36,939   36,001
15     자전거사고  사고건수    5,936    5,659    4,771    5,633    5,667    5,509
16     자전거사고   사망자      113      126       91       79       83       70
17     자전거사고   부상자    6,292    5,932    5,041    6,020    6,150    5,999
18     이륜차사고  사고건수   13,076   18,241   17,611   20,898   21,258   20,598
19     이륜차사고   사망자      428      564      537      498      525      459
20     이륜차사고   부상자   15,773   22,082   21,621   26,514   27,348   26,617
21  사업용자동차사고  사고건수   49,041   44,784   45,122   47,179   40,108   37,801
22  사업용자동차사고   사망자      853      821      748      633      575      569
23  사업용자동차사고   부상자   76,324   70,019   69,583   72,906   59,956   55,573
24    음주운전사고  사고건수   19,769   19,517   19,381   15,708   17,247   14,894
25    음주운전사고   사망자      481      439      346      295      287      206
26    음주운전사고   부상자   34,423   33,364   32,952   25,961   28,063   23,653

In [ ]:
# Assuming your data is stored in a variable named 'df'
df = pd.DataFrame({'년도': [2016, 2017, 2018, 2019, 2020, 2021],
                   '유형': ['A', 'B', 'C', 'D', 'E', 'F'],
                   '사고건수': [10, 20, 30, 40, 50, 60]})

# Group the data by '유형'
grouped_accident = accident.groupby('유형').sum()

# Plot the bar plot
grouped_df.plot(kind='bar', figsize=(10,6))
plt.xlabel('유형')
plt.ylabel('사고건수')
plt.title('사고건수 by 유형 (2016-2021)')
plt.show()

In [7]:
grouped_accident = accident.groupby('유형').sum()

In [9]:
grouped_accident.plot(kind='bar', figsize=(10,6))

TypeError: no numeric data to plot