In [1]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'
pd.set_option('mode.chained_assignment',  None) # 경고를 끈다
pd.set_option('display.max_columns', None) # 모든 열 출력
plt.rcParams['axes.unicode_minus'] = False

In [2]:
taas = pd.read_csv('data/taas/taas_motor_population_weather.csv', encoding = 'cp949')
qgis_1 = pd.read_csv('data/qgis/taas_grid_join.csv', encoding = 'cp949')
qgis_intersection = pd.read_csv('data/qgis/taas_grid_intersection.csv', encoding = 'cp949')
qgis_bus = pd.read_csv('data/qgis/taas_grid_bus.csv', encoding = 'cp949')

In [3]:
taas.head(1)

,사고번호,사고일시,요일,시군구,사고유형,법규위반,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,x,y,EPDO,연월,위치,이륜차,인구,기온,강수량,풍속
0,2019010100100002,201901010000,화요일,서울특별시 구로구 고척동,차대차,안전운전불이행,건조,맑음,단일로 - 기타,이륜,남,청년,126.867286,37.499889,3,201901,서울특별시 구로구,15623,404049,-5.5,0.0,1.0

In [4]:
qgis_1.head(1)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,id,cam_n,schoolzone_n,rstr_n,uheung_n,danran_n
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,포장 - 건조,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,126.867286,37.499889,1980515.0,0.0,0.0,23.0,0.0,0.0

In [5]:
qgis_intersection.head(1)

,id,left,top,right,bottom,NUMPOINTS
0,1538221,899743.158231,1.969487e+06,899974.098339,1.969287e+06,0

In [6]:
qgis_bus.head(1)

        id          left           top         right        bottom  bus
0  4159496  1.161456e+06  1.729387e+06  1.161687e+06  1.729187e+06    2

### qgis_1과 merge

In [7]:
qgis_1_sub = qgis_1[['사고번호','id','cam_n','schoolzone_n','rstr_n','uheung_n','danran_n']]

In [8]:
qgis_1_sub.head(1)

,사고번호,id,cam_n,schoolzone_n,rstr_n,uheung_n,danran_n
0,2019010100100002,1980515.0,0.0,0.0,23.0,0.0,0.0

In [9]:
taas1 = pd.merge(taas, qgis_1_sub, on='사고번호', how='left')

In [10]:
taas1.isnull().sum()

사고번호             0
사고일시             0
요일               0
시군구              0
사고유형             0
법규위반             0
노면상태             0
기상상태             0
도로형태             0
가해운전자 차종         0
가해운전자 성별         0
가해운전자 연령         0
x                0
y                0
EPDO             0
연월               0
위치               0
이륜차              0
인구               0
기온               0
강수량              0
풍속               0
id              10
cam_n            1
schoolzone_n     1
rstr_n           1
uheung_n         1
danran_n         1
dtype: int64

In [11]:
taas1['cam_n'] = taas1['cam_n'].fillna(0)
taas1['schoolzone_n'] = taas1['schoolzone_n'].fillna(0)
taas1['rstr_n'] = taas1['rstr_n'].fillna(0)
taas1['uheung_n'] = taas1['uheung_n'].fillna(0)
taas1['danran_n'] = taas1['danran_n'].fillna(0)

In [12]:
taas1.isnull().sum()

사고번호             0
사고일시             0
요일               0
시군구              0
사고유형             0
법규위반             0
노면상태             0
기상상태             0
도로형태             0
가해운전자 차종         0
가해운전자 성별         0
가해운전자 연령         0
x                0
y                0
EPDO             0
연월               0
위치               0
이륜차              0
인구               0
기온               0
강수량              0
풍속               0
id              10
cam_n            0
schoolzone_n     0
rstr_n           0
uheung_n         0
danran_n         0
dtype: int64

In [13]:
taas2 = taas1.dropna()

In [14]:
taas2.head(1)

,사고번호,사고일시,요일,시군구,사고유형,법규위반,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,x,y,EPDO,연월,위치,이륜차,인구,기온,강수량,풍속,id,cam_n,schoolzone_n,rstr_n,uheung_n,danran_n
0,2019010100100002,201901010000,화요일,서울특별시 구로구 고척동,차대차,안전운전불이행,건조,맑음,단일로 - 기타,이륜,남,청년,126.867286,37.499889,3,201901,서울특별시 구로구,15623,404049,-5.5,0.0,1.0,1980515.0,0.0,0.0,23.0,0.0,0.0

In [15]:
taas2.shape

(61404, 28)

### qgis_intersection과 merge

In [16]:
qgis_intersection_sub = qgis_intersection[['id','NUMPOINTS']]

In [17]:
qgis_intersection_sub.head(1)

        id  NUMPOINTS
0  1538221          0

In [18]:
taas3 = pd.merge(taas2, qgis_intersection_sub, on='id', how='left')

In [19]:
taas3.isnull().sum()

사고번호            0
사고일시            0
요일              0
시군구             0
사고유형            0
법규위반            0
노면상태            0
기상상태            0
도로형태            0
가해운전자 차종        0
가해운전자 성별        0
가해운전자 연령        0
x               0
y               0
EPDO            0
연월              0
위치              0
이륜차             0
인구              0
기온              0
강수량             0
풍속              0
id              0
cam_n           0
schoolzone_n    0
rstr_n          0
uheung_n        0
danran_n        0
NUMPOINTS       0
dtype: int64

In [20]:
taas3.shape

(61404, 29)

### qgis_bus와 merge

In [21]:
qgis_bus_sub = qgis_bus[['id','bus']]

In [22]:
qgis_bus_sub.head(1)

        id  bus
0  4159496    2

In [23]:
taas4 = pd.merge(taas3, qgis_bus_sub, on='id', how='left')

In [24]:
taas4.isnull().sum()

사고번호                0
사고일시                0
요일                  0
시군구                 0
사고유형                0
법규위반                0
노면상태                0
기상상태                0
도로형태                0
가해운전자 차종            0
가해운전자 성별            0
가해운전자 연령            0
x                   0
y                   0
EPDO                0
연월                  0
위치                  0
이륜차                 0
인구                  0
기온                  0
강수량                 0
풍속                  0
id                  0
cam_n               0
schoolzone_n        0
rstr_n              0
uheung_n            0
danran_n            0
NUMPOINTS           0
bus             10068
dtype: int64

In [25]:
taas4['bus'] = taas4['bus'].fillna(0)

In [26]:
taas4.shape

(61404, 30)

In [27]:
taas4 = taas4.rename(columns={'id':'grid_id', 'cam_n':'단속카메라수', 'schoolzone_n':'스쿨존수', 'rstr_n':'음식점수', 'uheung_n':'유흥주점수', 'danran_n':'단란주점수', 'NUMPOINTS':'교차로수', 'bus':'버스정류장수' })

In [28]:
taas4.head(1)

,사고번호,사고일시,요일,시군구,사고유형,법규위반,노면상태,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,x,y,EPDO,연월,위치,이륜차,인구,기온,강수량,풍속,grid_id,단속카메라수,스쿨존수,음식점수,유흥주점수,단란주점수,교차로수,버스정류장수
0,2019010100100002,201901010000,화요일,서울특별시 구로구 고척동,차대차,안전운전불이행,건조,맑음,단일로 - 기타,이륜,남,청년,126.867286,37.499889,3,201901,서울특별시 구로구,15623,404049,-5.5,0.0,1.0,1980515.0,0.0,0.0,23.0,0.0,0.0,2,4.0

In [29]:
# 합쳐진 taas 내보내기
taas4.to_csv('data/taas/taas_final.csv', index=False, encoding = 'cp949')