**ASOS**

- 129: 서산
- 133: 대전
- 177: 홍성
- 232: 천안
- 235: 보령
- 236: 부여
- 238: 금산
- 239: 세종
-------------------
(광역시 추가)
- 156: 광주
- 143: 대구
- 159: 부산
- 108: 서울
- 152: 울산
- 112: 인천
--------------------
**AWS**
- 612: 공주
- 614: 서천
- 615: 논산
- 616: 당진
- 618: 청양
- 627: 태안
- 628: 예산
- 634: 아산
- 636: 계룡

In [ ]:
import pandas as pd
import numpy as np
import zipfile
import os

## **1. unzip**

In [ ]:
# AWS
num_lst = ['636', '634', '628', '627', '618', '616', '615', '614', '612']
year_lst = ['2021_2021_2022', '2020_2020_2021', '2019_2019_2020']

for num in num_lst:
  for year in year_lst:    	
    weather_zip = zipfile.ZipFile(f'/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/20230205055125.zip (Unzipped Files)/SURFACE_AWS_{num}_HR_{year}.zip')
    weather_zip.extractall('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/AWS')
    weather_zip.close()

In [ ]:
# ASOS
num_lst = ['156', '143', '159', '108', '152', '112']
year_lst = ['2021_2021_2022', '2020_2020_2021', '2019_2019_2020']

for num in num_lst:
  for year in year_lst:    	
    weather_zip = zipfile.ZipFile(f'/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/20230205212329.zip (Unzipped Files)/SURFACE_ASOS_{num}_HR_{year}.zip')
    weather_zip.extractall('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/ASOS')
    weather_zip.close()

num_lst = ['239', '238', '236', '235', '232', '177', '133', '129']

for num in num_lst:
  if num == '239':
    year_lst = ['2021_2021_2022', '2020_2020_2021']
  else:
    year_lst = ['2021_2021_2022', '2020_2020_2021', '2019_2019_2020']
  for year in year_lst: 
    weather_zip = zipfile.ZipFile(f'/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/20230205060224.zip (Unzipped Files)/SURFACE_ASOS_{num}_HR_{year}.zip')
    weather_zip.extractall('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/ASOS')
    weather_zip.close()

## **2. city**

### 2-1) weather_city

#### asos

In [ ]:
# 데이터 불러오기
path = '/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/ASOS/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

# 불러온 데이터 합치기
weather = pd.DataFrame()
for i in file_list_py:
  data = pd.read_csv(path + i, encoding='cp949')
  weather = pd.concat([weather,data])
    
weather_asos = weather.reset_index(drop = True)

weather_asos.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,156,2021-01-01 00:00,-1.8,0.0,1.3,20.0,79.0,4.2,-4.9,1018.5,...,NaN,NaN,2000.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN
1,156,2021-01-01 01:00,-2.9,NaN,1.1,50.0,83.0,4.1,-5.3,1018.2,...,NaN,14.0,2000.0,NaN,NaN,1.1,NaN,NaN,NaN,NaN
2,156,2021-01-01 02:00,-2.9,NaN,1.0,70.0,81.0,4.0,-5.7,1018.2,...,Sc,5.0,1148.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN
3,156,2021-01-01 03:00,-2.8,0.0,0.1,0.0,86.0,4.3,-4.8,1018.6,...,Sc,10.0,1713.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN
4,156,2021-01-01 04:00,-2.9,NaN,0.7,20.0,87.0,4.3,-4.7,1018.6,...,Sc,10.0,621.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN

In [ ]:
# 지점 이름 추가
지점_이름 = []
도시_lst = ['서산시', 
             '홍성군',  
             '천안시', 
             '보령시', 
             '부여군', 
             '금산군', 
             '세종특별자치시', 
             '서울특별시', 
             '인천광역시', 
             '대전광역시', 
             '대구광역시', 
             '울산광역시', 
             '광주광역시', 
             '부산광역시']
num_lst = [129, 177, 232, 235, 236, 238, 239, 108, 112, 133, 143, 152, 156, 159]

for row in weather_asos['지점']:
  for i in range(len(도시_lst)):
    if row == num_lst[i]:
      지점_이름.append(도시_lst[i])

weather_asos['지점 이름'] = 지점_이름

weather_asos.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),지점 이름
0,156,2021-01-01 00:00,-1.8,0.0,1.3,20.0,79.0,4.2,-4.9,1018.5,...,NaN,2000.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN,광주광역시
1,156,2021-01-01 01:00,-2.9,NaN,1.1,50.0,83.0,4.1,-5.3,1018.2,...,14.0,2000.0,NaN,NaN,1.1,NaN,NaN,NaN,NaN,광주광역시
2,156,2021-01-01 02:00,-2.9,NaN,1.0,70.0,81.0,4.0,-5.7,1018.2,...,5.0,1148.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN,광주광역시
3,156,2021-01-01 03:00,-2.8,0.0,0.1,0.0,86.0,4.3,-4.8,1018.6,...,10.0,1713.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN,광주광역시
4,156,2021-01-01 04:00,-2.9,NaN,0.7,20.0,87.0,4.3,-4.7,1018.6,...,10.0,621.0,NaN,5.0,1.1,NaN,NaN,NaN,NaN,광주광역시

In [ ]:
print(weather_asos[['지점']].value_counts())
print(weather_asos[['지점 이름']].value_counts())

지점
108    26304
112    26304
129    26304
133    26304
143    26304
152    26304
156    26304
159    26304
177    26304
232    26304
235    26304
236    26304
238    26304
239    17544
dtype: int64
지점 이름
광주광역시      26304
금산군        26304
대구광역시      26304
대전광역시      26304
보령시        26304
부산광역시      26304
부여군        26304
서산시        26304
서울특별시      26304
울산광역시      26304
인천광역시      26304
천안시        26304
홍성군        26304
세종특별자치시    17544
dtype: int64

In [ ]:
# 필요한 요소만
asos = weather_asos[['지점', '지점 이름', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)']]
asos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359496 entries, 0 to 359495
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   지점       359496 non-null  int64
 1   지점 이름    359496 non-null  object
 2   일시       359496 non-null  object
 3   기온(°C)   359368 non-null  float64
 4   강수량(mm)  35465 non-null   float64
 5   풍속(m/s)  359250 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 16.5+ MB

#### aws

In [ ]:
# 데이터 불러오기
path = '/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/AWS/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

# 불러온 데이터 합치기
weather = pd.DataFrame()
for i in file_list_py:
  data = pd.read_csv(path + i, encoding='cp949')
  weather = pd.concat([weather,data])
    
weather_aws = weather.reset_index(drop = True)

weather_aws.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,636,2021-01-01 00:00,-12.9,0.0,0.4,0.0,NaN,NaN,88.7,NaN,NaN
1,636,2021-01-01 01:00,-11.6,342.8,0.7,0.0,NaN,NaN,89.7,NaN,NaN
2,636,2021-01-01 02:00,-12.5,0.0,0.4,0.0,NaN,NaN,88.1,NaN,NaN
3,636,2021-01-01 03:00,-14.1,0.0,0.4,0.0,NaN,NaN,85.4,NaN,NaN
4,636,2021-01-01 04:00,-14.2,0.0,0.3,0.0,NaN,NaN,86.0,NaN,NaN

In [ ]:
# 지점 이름 추가
지점_이름 = []
도시_lst = ['공주시', 
             '서천군',  
             '논산시', 
             '당진시', 
             '청양군', 
             '태안군', 
             '예산군', 
             '아산시', 
             '계룡시']
num_lst = [612, 614, 615, 616, 618, 627, 628, 634, 636]

for row in weather_aws['지점']:
  for i in range(len(도시_lst)):
    if row == num_lst[i]:
      지점_이름.append(도시_lst[i])

weather_aws['지점 이름']=지점_이름

weather_aws.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr),지점 이름
0,636,2021-01-01 00:00,-12.9,0.0,0.4,0.0,NaN,NaN,88.7,NaN,NaN,계룡시
1,636,2021-01-01 01:00,-11.6,342.8,0.7,0.0,NaN,NaN,89.7,NaN,NaN,계룡시
2,636,2021-01-01 02:00,-12.5,0.0,0.4,0.0,NaN,NaN,88.1,NaN,NaN,계룡시
3,636,2021-01-01 03:00,-14.1,0.0,0.4,0.0,NaN,NaN,85.4,NaN,NaN,계룡시
4,636,2021-01-01 04:00,-14.2,0.0,0.3,0.0,NaN,NaN,86.0,NaN,NaN,계룡시

In [ ]:
# 필요한 요소만
aws = weather_aws[['지점', '지점 이름', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)']]
aws.head()

    지점 지점 이름                일시  기온(°C)  강수량(mm)  풍속(m/s)
0  636   계룡시  2021-01-01 00:00   -12.9      0.0      0.4
1  636   계룡시  2021-01-01 01:00   -11.6      0.0      0.7
2  636   계룡시  2021-01-01 02:00   -12.5      0.0      0.4
3  636   계룡시  2021-01-01 03:00   -14.1      0.0      0.4
4  636   계룡시  2021-01-01 04:00   -14.2      0.0      0.3

In [ ]:
aws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236033 entries, 0 to 236032
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   지점       236033 non-null  int64
 1   지점 이름    236033 non-null  object
 2   일시       236033 non-null  object
 3   기온(°C)   235922 non-null  float64
 4   강수량(mm)  234597 non-null  float64
 5   풍속(m/s)  234577 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 10.8+ MB

#### asos + aws

In [205]:
# 날씨 데이터 합치기
weather = pd.concat([asos, aws])
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 595529 entries, 0 to 236032
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   지점       595529 non-null  int64
 1   지점 이름    595529 non-null  object
 2   일시       595529 non-null  object
 3   기온(°C)   595290 non-null  float64
 4   강수량(mm)  270062 non-null  float64
 5   풍속(m/s)  593827 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 31.8+ MB

In [206]:
weather.reset_index(inplace=True, drop=True)

In [207]:
weather[['지점 이름']].value_counts()

지점 이름
서산시        26304
부산광역시      26304
태안군        26304
천안시        26304
인천광역시      26304
울산광역시      26304
서울특별시      26304
부여군        26304
홍성군        26304
보령시        26304
대전광역시      26304
대구광역시      26304
금산군        26304
광주광역시      26304
서천군        26292
청양군        26289
아산시        26281
공주시        26215
예산군        26212
논산시        26183
당진시        26133
계룡시        26124
세종특별자치시    17544
dtype: int64

In [201]:
weather.to_csv('weather_city.csv', index = False, encoding = 'cp949')

### 2-2) taas_city

In [135]:
taas = pd.read_csv('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/taas_data/taas_only.csv', encoding='cp949')
taas.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,이륜,남,23세,상해없음,승용,남,71세,경상,126.867286,37.499889
1,2019010100100141,2019년 1월 1일 11시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,승용,남,39세,상해없음,이륜,남,31세,경상,127.017439,37.481949
2,2019010100100170,2019년 1월 1일 13시,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,이륜,남,22세,상해없음,보행자,여,63세,경상,126.956285,37.558028
3,2019010100100236,2019년 1월 1일 17시,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,이륜,남,21세,경상,승합,남,46세,상해없음,127.085745,37.596356
4,2019010100100249,2019년 1월 1일 18시,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,이륜,남,22세,경상,이륜,남,37세,상해없음,126.842479,37.484115

In [136]:
print(taas['시군구'].unique())
taas[taas['시군구']=='미분류 미분류 미분류']

['서울특별시 구로구 고척동' '서울특별시 서초구 서초동' '서울특별시 서대문구 북아현동' ... '울산광역시 남구 성암동'
 '울산광역시 북구 신명동' '울산광역시 북구 창평동']

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y
7098,2019110800100396,2019년 11월 8일 14시,금요일,미분류 미분류 미분류,중상사고,0,1,0,0,차대차 - 측면충돌,...,승합,남,56세,상해없음,이륜,남,44세,중상,127.068553,37.593779

In [137]:
# 미분류 시군구 값 채워주기
taas['시군구'][7098]='서울특별시 동대문구 휘경1동'
taas['시군구'][7098]

<ipython-input-137-fdabf4d812c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taas['시군구'][7098]='서울특별시 동대문구 휘경1동'

'서울특별시 동대문구 휘경1동'

In [138]:
# 시군구 split
taas_df = pd.DataFrame(taas.시군구.str.split(' '))
for i in range(len(taas_df)): 
  if len(taas_df['시군구'][i]) == 3:
    taas_df['시군구'][i].insert(2, None)

# 데이터프레임으로 연결
taas_df = pd.DataFrame(taas_df.시군구.tolist(), columns = ['도시', '시/군/구', '구', '동/면/읍'])
taas_df = pd.concat([taas, taas_df], axis=1)
taas_df.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,시/군/구,구,동/면/읍
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,승용,남,71세,경상,126.867286,37.499889,서울특별시,구로구,None,고척동
1,2019010100100141,2019년 1월 1일 11시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,이륜,남,31세,경상,127.017439,37.481949,서울특별시,서초구,None,서초동
2,2019010100100170,2019년 1월 1일 13시,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,보행자,여,63세,경상,126.956285,37.558028,서울특별시,서대문구,None,북아현동
3,2019010100100236,2019년 1월 1일 17시,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,승합,남,46세,상해없음,127.085745,37.596356,서울특별시,중랑구,None,상봉동
4,2019010100100249,2019년 1월 1일 18시,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,이륜,남,37세,상해없음,126.842479,37.484115,서울특별시,구로구,None,천왕동

In [139]:
# 충남 도시이름 변경
도시_이름 = []
for i in range(len(taas_df)):
  if taas_df['도시'][i] == '충청남도':
    도시_이름.append(taas_df['시/군/구'][i])
  else: 
    도시_이름.append(taas_df['도시'][i])

taas_df['도시']=도시_이름

# 도시 이름 칼럼만 남김
taas_df = taas_df.drop(['시/군/구', '구', '동/면/읍'], axis=1)
taas_df.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,남,23세,상해없음,승용,남,71세,경상,126.867286,37.499889,서울특별시
1,2019010100100141,2019년 1월 1일 11시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,39세,상해없음,이륜,남,31세,경상,127.017439,37.481949,서울특별시
2,2019010100100170,2019년 1월 1일 13시,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,22세,상해없음,보행자,여,63세,경상,126.956285,37.558028,서울특별시
3,2019010100100236,2019년 1월 1일 17시,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,남,21세,경상,승합,남,46세,상해없음,127.085745,37.596356,서울특별시
4,2019010100100249,2019년 1월 1일 18시,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,남,22세,경상,이륜,남,37세,상해없음,126.842479,37.484115,서울특별시

In [140]:
taas_df.to_csv('taas_city.csv', index=False)

## **3. date**

In [141]:
from datetime import datetime

### 3-1) weather_date

In [ ]:
weather_city = pd.read_csv('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/weather_city.csv', encoding = 'cp949')
weather_city.head()

    지점  지점 이름                일시  기온(°C)  강수량(mm)  풍속(m/s)
0  156  광주광역시  2021-01-01 00:00    -1.8      0.0      1.3
1  156  광주광역시  2021-01-01 01:00    -2.9      NaN      1.1
2  156  광주광역시  2021-01-01 02:00    -2.9      NaN      1.0
3  156  광주광역시  2021-01-01 03:00    -2.8      0.0      0.1
4  156  광주광역시  2021-01-01 04:00    -2.9      NaN      0.7

In [ ]:
weather_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595529 entries, 0 to 595528
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   지점       595529 non-null  int64
 1   지점 이름    595529 non-null  object
 2   일시       595529 non-null  object
 3   기온(°C)   595290 non-null  float64
 4   강수량(mm)  270062 non-null  float64
 5   풍속(m/s)  593827 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 27.3+ MB

In [ ]:
# 날씨 날짜 형식 변경
weather_city['지점 일시'] = pd.to_datetime(weather_city['일시'])
weather_city['지점 일시'] = weather_city['지점 일시'].dt.strftime("%Y%m%d%H%M")

# 도시_일시 컬럼 추가
weather_mapping = weather_city.copy()
weather_mapping['도시_일시'] = weather_mapping['지점 이름']+'_'+weather_mapping['지점 일시']

weather_mapping.head()

,지점,지점 이름,일시,기온(°C),강수량(mm),풍속(m/s),지점 일시,도시_일시
0,156,광주광역시,2021-01-01 00:00,-1.8,0.0,1.3,202101010000,광주광역시_202101010000
1,156,광주광역시,2021-01-01 01:00,-2.9,NaN,1.1,202101010100,광주광역시_202101010100
2,156,광주광역시,2021-01-01 02:00,-2.9,NaN,1.0,202101010200,광주광역시_202101010200
3,156,광주광역시,2021-01-01 03:00,-2.8,0.0,0.1,202101010300,광주광역시_202101010300
4,156,광주광역시,2021-01-01 04:00,-2.9,NaN,0.7,202101010400,광주광역시_202101010400

### 3-2) taas_date

In [142]:
taas_city = pd.read_csv('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/taas_data/taas_city.csv')
taas_city.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,남,23세,상해없음,승용,남,71세,경상,126.867286,37.499889,서울특별시
1,2019010100100141,2019년 1월 1일 11시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,39세,상해없음,이륜,남,31세,경상,127.017439,37.481949,서울특별시
2,2019010100100170,2019년 1월 1일 13시,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,남,22세,상해없음,보행자,여,63세,경상,126.956285,37.558028,서울특별시
3,2019010100100236,2019년 1월 1일 17시,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,남,21세,경상,승합,남,46세,상해없음,127.085745,37.596356,서울특별시
4,2019010100100249,2019년 1월 1일 18시,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,남,22세,경상,이륜,남,37세,상해없음,126.842479,37.484115,서울특별시

In [144]:
# taas 날짜 형식 변경
taas_city['사고일시'] = pd.to_datetime(taas_city['사고일시'], format='%Y년 %m월 %d일 %H시')
taas_city['사고일시'] = taas_city['사고일시'].dt.strftime('%Y%m%d%H%M')

# 도시_일시 컬럼 추가
taas_mapping = taas_city.copy()
taas_mapping['도시_일시'] = taas_mapping['도시']+'_'+taas_mapping['사고일시']

weather_mapping.head()

,지점,지점 이름,일시,기온(°C),강수량(mm),풍속(m/s),지점 일시,도시_일시
0,156,광주광역시,2021-01-01 00:00,-1.8,0.0,1.3,202101010000,광주광역시_202101010000
1,156,광주광역시,2021-01-01 01:00,-2.9,NaN,1.1,202101010100,광주광역시_202101010100
2,156,광주광역시,2021-01-01 02:00,-2.9,NaN,1.0,202101010200,광주광역시_202101010200
3,156,광주광역시,2021-01-01 03:00,-2.8,0.0,0.1,202101010300,광주광역시_202101010300
4,156,광주광역시,2021-01-01 04:00,-2.9,NaN,0.7,202101010400,광주광역시_202101010400

In [145]:
# 도시_일시 컬럼 추가
taas_mapping = taas_city.copy()
taas_mapping['사고일시'] = taas_mapping['사고일시'].astype(str)
taas_mapping['도시_일시'] = taas_mapping['도시']+'_'+taas_mapping['사고일시']

taas_mapping.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시
0,2019010100100002,201901010000,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,23세,상해없음,승용,남,71세,경상,126.867286,37.499889,서울특별시,서울특별시_201901010000
1,2019010100100141,201901011100,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,39세,상해없음,이륜,남,31세,경상,127.017439,37.481949,서울특별시,서울특별시_201901011100
2,2019010100100170,201901011300,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,22세,상해없음,보행자,여,63세,경상,126.956285,37.558028,서울특별시,서울특별시_201901011300
3,2019010100100236,201901011700,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,21세,경상,승합,남,46세,상해없음,127.085745,37.596356,서울특별시,서울특별시_201901011700
4,2019010100100249,201901011800,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,22세,경상,이륜,남,37세,상해없음,126.842479,37.484115,서울특별시,서울특별시_201901011800

In [146]:
taas_mapping.to_csv('taas_mapping.csv', index=False, encoding='cp949')
weather_mapping.to_csv('weather_mapping.csv', index=False, encoding='cp949')

## **4. taas + weather**

In [209]:
taas_mapping = pd.read_csv('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/taas_data/taas_mapping.csv', encoding='cp949')
weather_mapping = pd.read_csv('/content/drive/MyDrive/BOAZ/competition/지역 치안 안전 데이터 분석 공모전/weather_data/weather_mapping.csv', encoding='cp949')

### 4-1)누락된 세종시 2019 데이터 공주시 데이터로 변경

In [210]:
# 세종시 2019 데이터 행 확인
taas_mapping[taas_mapping['도시_일시'].str.startswith('세종특별자치시_2019')]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시
41861,2019010300100501,201901032200,목요일,세종특별자치시 세종특별자치시 새롬동,중상사고,0,1,0,0,차대차 - 측면충돌,...,17세,중상,승용,남,69세,상해없음,127.249751,36.483086,세종특별자치시,세종특별자치시_201901032200
41862,2019010600100279,201901061800,일요일,세종특별자치시 세종특별자치시 한솔동,중상사고,0,1,0,0,차대사람 - 횡단중,...,37세,상해없음,보행자,여,18세,중상,127.257745,36.483048,세종특별자치시,세종특별자치시_201901061800
41863,2019010900100223,201901091200,수요일,세종특별자치시 세종특별자치시 종촌동,경상사고,0,0,1,0,차대차 - 측면충돌,...,42세,상해없음,이륜,남,40세,경상,127.245057,36.505163,세종특별자치시,세종특별자치시_201901091200
41864,2019011700100322,201901171500,목요일,세종특별자치시 세종특별자치시 조치원읍,경상사고,0,0,1,0,차대차 - 기타,...,24세,경상,승용,여,49세,기타불명,127.286760,36.617086,세종특별자치시,세종특별자치시_201901171500
41865,2019012000100375,201901201900,일요일,세종특별자치시 세종특별자치시 조치원읍,경상사고,0,0,1,0,차대차 - 측면충돌,...,41세,상해없음,이륜,남,37세,경상,127.298332,36.592405,세종특별자치시,세종특별자치시_201901201900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,2019121500100194,201912151000,일요일,세종특별자치시 세종특별자치시 장군면,경상사고,0,0,1,0,차대차 - 측면충돌,...,62세,상해없음,이륜,남,43세,경상,127.217791,36.507121,세종특별자치시,세종특별자치시_201912151000
41998,2019122000100352,201912201400,금요일,세종특별자치시 세종특별자치시 조치원읍,중상사고,0,1,0,0,차대차 - 측면충돌,...,57세,상해없음,이륜,여,73세,중상,127.301397,36.600145,세종특별자치시,세종특별자치시_201912201400
41999,2019122300100223,201912231000,월요일,세종특별자치시 세종특별자치시 조치원읍,중상사고,0,1,0,0,차대사람 - 보도통행중,...,83세,상해없음,보행자,여,62세,중상,127.300712,36.601523,세종특별자치시,세종특별자치시_201912231000
42000,2019122400100342,201912241300,화요일,세종특별자치시 세종특별자치시 소담동,경상사고,0,0,1,0,차대차 - 측면충돌,...,34세,상해없음,승합,남,61세,상해없음,127.302482,36.485709,세종특별자치시,세종특별자치시_201912241300
42001,2019122700100677,201912272300,금요일,세종특별자치시 세종특별자치시 한솔동,경상사고,0,0,1,0,차대차 - 기타,...,43세,상해없음,이륜,여,31세,경상,127.254288,36.474702,세종특별자치시,세종특별자치시_201912272300

In [211]:
# 세종시 2019 위치에 공주시 추가
sj2019 = taas_mapping[41861:42002]
sj2019['new_도시'] = '공주시'
sj2019['사고일시'] = sj2019['사고일시'].astype(str)
sj2019['도시_일시'] = sj2019['new_도시']+'_'+sj2019['사고일시']

# 도시_일시 mapping으로 공주시 옮기기기
taas_mapping['도시_일시'][41861:42002] = sj2019['도시_일시']
taas_mapping[41860:42003]

<ipython-input-211-0d652a8a61d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2019['new_도시'] = '공주시'
<ipython-input-211-0d652a8a61d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2019['사고일시'] = sj2019['사고일시'].astype(str)
<ipython-input-211-0d652a8a61d6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sj2019['도시_일시'] = sj2019['new_도시']+'_'+sj2019['사고일시']
<ipython-input-211-0d652a8a61d6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taas_mapping['도시_일시'][41861:42002] = sj2019['도시_일시']

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시
41860,2021123000100474,202112301900,목요일,충청남도 천안시 서북구 두정동,경상사고,0,0,1,0,차대차 - 기타,...,34세,경상,승용,여,57세,상해없음,127.138487,36.833706,천안시,천안시_202112301900
41861,2019010300100501,201901032200,목요일,세종특별자치시 세종특별자치시 새롬동,중상사고,0,1,0,0,차대차 - 측면충돌,...,17세,중상,승용,남,69세,상해없음,127.249751,36.483086,세종특별자치시,공주시_201901032200
41862,2019010600100279,201901061800,일요일,세종특별자치시 세종특별자치시 한솔동,중상사고,0,1,0,0,차대사람 - 횡단중,...,37세,상해없음,보행자,여,18세,중상,127.257745,36.483048,세종특별자치시,공주시_201901061800
41863,2019010900100223,201901091200,수요일,세종특별자치시 세종특별자치시 종촌동,경상사고,0,0,1,0,차대차 - 측면충돌,...,42세,상해없음,이륜,남,40세,경상,127.245057,36.505163,세종특별자치시,공주시_201901091200
41864,2019011700100322,201901171500,목요일,세종특별자치시 세종특별자치시 조치원읍,경상사고,0,0,1,0,차대차 - 기타,...,24세,경상,승용,여,49세,기타불명,127.286760,36.617086,세종특별자치시,공주시_201901171500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41998,2019122000100352,201912201400,금요일,세종특별자치시 세종특별자치시 조치원읍,중상사고,0,1,0,0,차대차 - 측면충돌,...,57세,상해없음,이륜,여,73세,중상,127.301397,36.600145,세종특별자치시,공주시_201912201400
41999,2019122300100223,201912231000,월요일,세종특별자치시 세종특별자치시 조치원읍,중상사고,0,1,0,0,차대사람 - 보도통행중,...,83세,상해없음,보행자,여,62세,중상,127.300712,36.601523,세종특별자치시,공주시_201912231000
42000,2019122400100342,201912241300,화요일,세종특별자치시 세종특별자치시 소담동,경상사고,0,0,1,0,차대차 - 측면충돌,...,34세,상해없음,승합,남,61세,상해없음,127.302482,36.485709,세종특별자치시,공주시_201912241300
42001,2019122700100677,201912272300,금요일,세종특별자치시 세종특별자치시 한솔동,경상사고,0,0,1,0,차대차 - 기타,...,43세,상해없음,이륜,여,31세,경상,127.254288,36.474702,세종특별자치시,공주시_201912272300
42002,2020010200100551,202001022200,목요일,세종특별자치시 세종특별자치시 아름동,중상사고,0,1,0,0,차대차 - 측면충돌,...,29세,상해없음,이륜,남,44세,중상,127.242589,36.512018,세종특별자치시,세종특별자치시_202001022200

In [212]:
# 도시_일시 기준으로 merge
taas_weather = pd.merge(taas_mapping, weather_mapping[['도시_일시', '기온(°C)', '강수량(mm)', '풍속(m/s)']], on='도시_일시', how='left')
taas_weather.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시,기온(°C),강수량(mm),풍속(m/s)
0,2019010100100002,201901010000,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,남,71세,경상,126.867286,37.499889,서울특별시,서울특별시_201901010000,-5.5,NaN,1.0
1,2019010100100141,201901011100,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,31세,경상,127.017439,37.481949,서울특별시,서울특별시_201901011100,-3.7,NaN,2.5
2,2019010100100170,201901011300,화요일,서울특별시 서대문구 북아현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,여,63세,경상,126.956285,37.558028,서울특별시,서울특별시_201901011300,-1.5,NaN,2.7
3,2019010100100236,201901011700,화요일,서울특별시 중랑구 상봉동,경상사고,0,0,1,0,차대차 - 기타,...,남,46세,상해없음,127.085745,37.596356,서울특별시,서울특별시_201901011700,-1.8,NaN,2.2
4,2019010100100249,201901011800,화요일,서울특별시 구로구 천왕동,경상사고,0,0,1,0,차대차 - 기타,...,남,37세,상해없음,126.842479,37.484115,서울특별시,서울특별시_201901011800,-2.7,NaN,2.6

### 4-2) null 처리

In [213]:
taas_weather[taas_weather['기온(°C)'].isnull()]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시,기온(°C),강수량(mm),풍속(m/s)
13545,2020082600100234,202008261300,수요일,서울특별시 양천구 신월동,경상사고,0,0,1,0,차대차 - 기타,...,남,57세,경상,126.836719,37.522715,서울특별시,서울특별시_202008261300,NaN,NaN,4.3
30038,2020082600100497,202008262100,수요일,부산광역시 수영구 남천동,중상사고,0,1,0,0,차대차 - 측면충돌,...,남,52세,상해없음,129.110841,35.138141,부산광역시,부산광역시_202008262100,NaN,0.0,5.2
37694,2019052700100603,201905272100,월요일,충청남도 논산시 내동,중상사고,0,1,0,0,차대차 - 측면충돌,...,남,17세,중상,127.096231,36.188530,논산시,논산시_201905272100,NaN,NaN,NaN
37716,2019053100100753,201905312200,금요일,충청남도 서산시 동문동,경상사고,0,0,2,0,차대차 - 기타,...,남,19세,경상,126.457543,36.778087,서산시,서산시_201905312200,NaN,NaN,NaN
38106,2019082000100042,201908200100,화요일,충청남도 당진시 읍내리,경상사고,0,0,1,0,차대차 - 정면충돌,...,남,30세,경상,126.635753,36.890780,당진시,당진시_201908200100,NaN,NaN,NaN
38386,2019101400100250,201910141100,월요일,충청남도 천안시 서북구 불당동,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,30세,경상,127.107367,36.807284,천안시,천안시_201910141100,NaN,NaN,NaN
38553,2019111600100063,201911160200,토요일,충청남도 예산군 오가면,경상사고,0,0,1,0,차량단독 - 공작물충돌,...,NaN,NaN,NaN,126.807819,36.663901,예산군,예산군_201911160200,NaN,NaN,NaN
47301,2020082600100052,202008260600,수요일,대구광역시 달성군 다사읍,중상사고,0,1,0,0,차대차 - 기타,...,남,53세,상해없음,128.455354,35.882144,대구광역시,대구광역시_202008260600,NaN,NaN,2.5
47306,2020082600100479,202008262000,수요일,대구광역시 서구 중리동,중상사고,0,1,0,0,차대차 - 측면충돌,...,남,55세,중상,128.541864,35.859183,대구광역시,대구광역시_202008262000,NaN,NaN,2.8

In [270]:
# 기온 null값 수정
도시_일시_lst = ['서울특별시_202008261300', 
             '부산광역시_202008262100',
             '논산시_201905272100', 
             '서산시_201905312200',
             '당진시_201908200100', 
             '천안시_201910141100', 
             '예산군_201911160200', 
             '대구광역시_202008260600', 
             '대구광역시_202008262000']
기온_lst = [33.7, 28.6, 24, 15.1, 23.5, 16.3, 1.8, 27.3, 28.7]  

for i in range(len(도시_일시_lst)):
  for n in range(len(taas_weather['도시_일시'])):
    if taas_weather['도시_일시'][n] == 도시_일시_lst[i]:
      taas_weather['기온(°C)'][n] = 기온_lst[i]

taas_weather[taas_weather['도시_일시']=='천안시_201910141100']

<ipython-input-270-639aaf828eda>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taas_weather['기온(°C)'][n] = 기온_lst[i]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시,기온(°C),강수량(mm),풍속(m/s)
38386,2019101400100250,201910141100,월요일,충청남도 천안시 서북구 불당동,경상사고,0,0,1,0,차대차 - 측면충돌,...,남,30세,경상,127.107367,36.807284,천안시,천안시_201910141100,16.3,NaN,NaN

In [377]:
taas_weather['도시_일시'][taas_weather['풍속(m/s)'].isnull()].nunique()

36

In [368]:
weather_mapping[weather_mapping['도시_일시']=='광주광역시_202109291600']

,지점,지점 이름,일시,기온(°C),강수량(mm),풍속(m/s),지점 일시,도시_일시
6520,156,광주광역시,2021-09-29 16:00,22.2,NaN,NaN,202109291600,광주광역시_202109291600

In [373]:
weather[6515:6526]

       지점  지점 이름                일시  기온(°C)  강수량(mm)  풍속(m/s)
6515  156  광주광역시  2021-09-29 11:00    25.8      NaN      3.5
6516  156  광주광역시  2021-09-29 12:00    25.8      0.0      2.6
6517  156  광주광역시  2021-09-29 13:00    21.6     24.2      NaN
6518  156  광주광역시  2021-09-29 14:00    21.7      2.9      NaN
6519  156  광주광역시  2021-09-29 15:00    22.5      0.1      NaN
6520  156  광주광역시  2021-09-29 16:00    22.2      NaN      NaN
6521  156  광주광역시  2021-09-29 17:00    22.3      NaN      NaN
6522  156  광주광역시  2021-09-29 18:00     NaN      NaN      NaN
6523  156  광주광역시  2021-09-29 19:00     NaN      NaN      NaN
6524  156  광주광역시  2021-09-29 20:00     NaN      0.0      NaN
6525  156  광주광역시  2021-09-29 21:00    22.3      NaN      0.0

In [382]:
# 풍속 null값 수정
도시_일시_lst = ['서울특별시_201909291100', 
             '서울특별시_201912122100', 
             '서울특별시_201912151500', 
             '서울특별시_201912151600', 
             '부산광역시_201905110100', 
             '부산광역시_201905110200', 
             '부산광역시_201905110900', 
             '부산광역시_202003101200', 
             '부산광역시_202003101400', 
             '부산광역시_202101271400', 
             '부산광역시_202101271500', 
             '부산광역시_202101281300', 
             '부산광역시_202109221300', 
             '부산광역시_202109221500', 
             '부산광역시_202109221600', 
             '논산시_201905272100', 
             '서산시_201905312200', 
             '아산시_201907201800', 
             '아산시_201907211100', 
             '아산시_201907261800', 
             '아산시_201907280800', 
             '당진시_201908200100', 
             '천안시_201910141100', 
             '예산군_201911160200', 
             '천안시_201911161200', 
             '천안시_201911162000', 
             '천안시_201911170500', 
             '공주시_202004101000',
             '공주시_202007010800',
             '천안시_202110220700', 
             '논산시_202112111100', 
             '예산군_202112171300', 
             '예산군_202112200800', 
             '공주시_201910222000', 
             '광주광역시_202109291500', 
             '광주광역시_202109291600']
풍속_lst = [2.5, 0, 0.3, 0.9, 0, 
          0, 3.1, 2.6, 2.8, 2.8, 
          2.8, 7.7, 4.5, 3.8, 3.8, 
          2.0, 1.6, 0, 1.4, 0, 
          0, 0.2, 3.3, 0.4, 0, 
          0, 0, 1.6, 0, 0, 
          0.6, 0, 0, 0.1, 2.6, 
          1.3]

for i in range(len(도시_일시_lst)):
  for n in range(len(taas_weather['도시_일시'])):
    if taas_weather['도시_일시'][n] == 도시_일시_lst[i]:
      taas_weather['풍속(m/s)'][n] = 풍속_lst[i]

taas_weather[taas_weather['도시_일시']=='공주시_201910222000']

<ipython-input-382-1506d1068bf7>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  taas_weather['풍속(m/s)'][n] = 풍속_lst[i]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y,도시,도시_일시,기온(°C),강수량(mm),풍속(m/s)
41976,2019102200100678,201910222000,화요일,세종특별자치시 세종특별자치시 반곡동,경상사고,0,0,1,0,차량단독 - 기타,...,NaN,NaN,NaN,127.308088,36.48076,세종특별자치시,공주시_201910222000,13.9,0.0,0.1

In [383]:
# 강수량 null값 수정
taas_weather['강수량(mm)'] = taas_weather['강수량(mm)'].fillna(0)

In [384]:
# 최종 파일
weather_taas = taas_weather[['사고번호', '기온(°C)', '강수량(mm)', '풍속(m/s)']]
weather_taas.columns = ['사고번호', '기온', '강수량', '풍속']
weather_taas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61415 entries, 0 to 61414
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사고번호    61415 non-null  int64
 1   기온      61415 non-null  float64
 2   강수량     61415 non-null  float64
 3   풍속      61415 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 4.4 MB

In [386]:
weather_taas.head()

               사고번호   기온  강수량   풍속
0  2019010100100002 -5.5  0.0  1.0
1  2019010100100141 -3.7  0.0  2.5
2  2019010100100170 -1.5  0.0  2.7
3  2019010100100236 -1.8  0.0  2.2
4  2019010100100249 -2.7  0.0  2.6

In [393]:
print(weather_taas[['사고번호']].nunique())
print("")
print(weather_taas[['기온']].value_counts())
print(weather_taas[['강수량']].value_counts())
print(weather_taas[['풍속']].value_counts())

사고번호    61415
dtype: int64

기온
 23.1    298
 25.2    285
 24.0    284
 22.5    273
 23.7    269
        ...
-12.3      1
-12.1      1
-11.8      1
-11.3      1
 36.6      1
Length: 506, dtype: int64
강수량
0.0     57208
0.1       495
0.2       382
0.3       307
0.5       285
        ...
18.5        1
18.7        1
18.9        1
19.4        1
70.4        1
Length: 183, dtype: int64
풍속
1.7     1909
2.0     1854
2.1     1839
2.2     1819
2.3     1801
        ...
11.3       1
10.9       1
10.5       1
10.2       1
14.3       1
Length: 117, dtype: int64

In [385]:
weather_taas.to_csv('weather_taas.csv', index = False, encoding = 'cp949')