In [ ]:
import pandas as pd
import numpy as np

# Load Data from TAAS API

In [ ]:
# curl test
!curl 'http://taas.koroad.or.kr/gis/srh/ash/selectAccidentInfo.do' \
    -X 'POST /gis/srh/ash/selectAccidentInfo.do HTTP/1.1' \
    -H 'Host: taas.koroad.or.kr' \
    -H 'Connection: keep-alive'\
    -H 'Content-Length: 161' \
    -H 'Accept: application/json, text/javascript, */*; q=0.01' \
    -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36' \
    -H 'Content-Type: application/json;charset=UTF-8' \
    -H 'Origin: http://taas.koroad.or.kr' \
    -H 'Referer: http://taas.koroad.or.kr/gis/mcm/mcl/initMap.do?menuId=GIS_GMP_AGS_TMM' \
    -H 'Accept-Encoding: gzip, deflate' \
    -H 'Accept-Language: ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7' \
    -H 'Cookie: TAASJSESSIONID=IMewmgx6VXxtBAKkpzReCfHWn1ON176pynJS1FDWm6tBw3EtbBJZe7adL80kcLdS.amV1c19kb21haW4vc2VydmVyMg==' \
    -H 'X-Requested-With: XMLHttpRequest' \
    --data-binary '{"searchType":"00","pageIndex":1,"zoneYn":false,"engnCode":"00","startAcdntYear":"2019","endAcdntYear":"2021","legaldongCode":"11%","acdntGaeCode":"01,02,03,04"}'

In [ ]:
import json
import pandas as pd
import csv
import os

In [ ]:
# legaldongCode
## 대전 30%
## 충남 44%
## 세종 36%
## 부산 26%
## 대구 27%
## 인천 28%
## 광주 29%
## 울산 31%
## 서울 11%

curl = \
"""
curl 'http://taas.koroad.or.kr/gis/srh/ash/selectAccidentInfo.do' \
    -X 'POST /gis/srh/ash/selectAccidentInfo.do HTTP/1.1' \
    -H 'Host: taas.koroad.or.kr' \
    -H 'Connection: keep-alive'\
    -H 'Content-Length: 161' \
    -H 'Accept: application/json, text/javascript, */*; q=0.01' \
    -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36' \
    -H 'Content-Type: application/json;charset=UTF-8' \
    -H 'Origin: http://taas.koroad.or.kr' \
    -H 'Referer: http://taas.koroad.or.kr/gis/mcm/mcl/initMap.do?menuId=GIS_GMP_AGS_TMM' \
    -H 'Accept-Encoding: gzip, deflate' \
    -H 'Accept-Language: ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7' \
    -H 'Cookie: TAASJSESSIONID=IMewmgx6VXxtBAKkpzReCfHWn1ON176pynJS1FDWm6tBw3EtbBJZe7adL80kcLdS.amV1c19kb21haW4vc2VydmVyMg==' \
    -H 'X-Requested-With: XMLHttpRequest' \
    --data-binary '{"searchType":"00","pageIndex":1,"zoneYn":false,"engnCode":"00","startAcdntYear":"2019","endAcdntYear":"2021","legaldongCode":"30%","acdntGaeCode":"01,02,03,04"}'
"""

In [ ]:
# run curl comand and load response into a json dict
response = json.loads(os.popen(curl).read())

In [ ]:
response['resultValue']['accidentInfoList'][0]

{'acdnt_no': '2019010100100057',
 'engn_code': '00',
 'acdnt_year': '2019',
 'acdnt_dd_dc': '2019년  1월  1일',
 'dfk_code': '2',
 'dfk_dc': '화요일',
 'tmzon_div_1_code': '02',
 'tmzon_div_1_dc': '야간',
 'occrrnc_time_code': '03',
 'occrrnc_time_dc': '03시',
 'legaldong_code': '3020012900',
 'legaldong_name': '대전광역시 유성구 방현동',
 'acdnt_hcode': '200',
 'acdnt_hdc': '차대차',
 'acdnt_mcode': '230',
 'acdnt_mdc': '추돌',
 'acdnt_code': '235',
 'acdnt_dc': '차대차 - 추돌',
 'lrg_violt_1_code': '06',
 'lrg_violt_1_dc': '안전운전불이행',
 'x_crdnt': 988609,
 'y_crdnt': 1823370,
 'wether_sttus_code': '01',
 'wether_sttus_dc': '맑음',
 'road_stle_code': '299',
 'road_stle_dc': '단일로 - 기타',
 'hhdgw_at': 'Y',
 'acdnt_gae_code': '03',
 'acdnt_gae_dc': '경상사고',
 'dprs_cnt': 0,
 'sep_cnt': 0,
 'slp_cnt': 1,
 'inj_aplcnt_cnt': 0,
 'wrngdo_vhcle_asort_hcode': '100',
 'wrngdo_vhcle_asort_hdc': '원동기 자전거 이상',
 'wrngdo_vhcle_asort_code': '110',
 'wrngdo_vhcle_asort_dc': '승용',
 'injury_dgree_1_hcode': '300',
 'injury_dgree_1_hdc': '상해없음',
 'injury_dgree_1_code': '300',
 'injury_dgree_1_dc': '상해없음',
 'acdnt_age_1_code': '31',
 'acdnt_age_1_dc': '31세',
 'sexdstn_div_1_code': '1',
 'sexdstn_div_1_dc': '남',
 'dmge_vhcle_asort_hcode': '100',
 'dmge_vhcle_asort_hdc': '원동기 자전거 이상',
 'dmge_vhcle_asort_code': '130',
 'dmge_vhcle_asort_dc': '화물',
 'injury_dgree_2_hcode': '200',
 'injury_dgree_2_hdc': '부상',
 'injury_dgree_2_code': '220',
 'injury_dgree_2_dc': '경상',
 'acdnt_age_2_code': '36',
 'acdnt_age_2_dc': '36세',
 'sexdstn_div_2_code': '1',
 'sexdstn_div_2_dc': '남',
 'bdy_injury_part_1_code': '00',
 'bdy_injury_part_1_dc': '상해없음',
 'bdy_injury_part_2_code': '08',
 'bdy_injury_part_2_dc': '뒷면 허리',
 'spt_otlnmap_at': '없음',
 'rdse_sttus_code': '01',
 'rdse_sttus_dc': '포장 - 건조',
 'acdnt_pos': '호남지선고속도로 논산방향 논산기점 49km',
 'acdnt_des': None,
 'road_div': '101',
 'road_no': '251',
 'route_nm': '호남고속도로지선',
 'otn_acdnt_no': '20190000011640',
 'city_idt_code': None,
 'city_idt_dc': None,
 'xCrdnt': 0.0,
 'yCrdnt': 0.0,
 'acdnt_frm_lv1': None,
 'acdnt_frm_lv2': None,
 'acdnt_frm_lv3': None,
 'acdnt_sta_lv1': None,
 'acdnt_sta_lv2': None,
 'rn': None,
 'rde_id': None,
 'rde_nm': None,
 'searchCondition': '',
 'pageIndex': 1,
 'recordCountPerPage': 10,
 'searchConditionText': '',
 'searchKeyword': '',
 'pageUnit': 3,
 'zoneYn': False}

In [ ]:
#@title write new json file
FILE_PATH = 'data/taas/en/daejeon.json'

In [ ]:
with open(FILE_PATH, 'w', encoding='utf-8') as f:
    json.dump(response['resultValue']['accidentInfoList'], f, indent=4)

In [ ]:
df = pd.read_json(FILE_PATH)

In [ ]:
print(f'accidents: {len(df)}')

accidents: 22579

In [ ]:
df.columns

Index(['acdnt_no', 'engn_code', 'acdnt_year', 'acdnt_dd_dc', 'dfk_code',
       'dfk_dc', 'tmzon_div_1_code', 'tmzon_div_1_dc', 'occrrnc_time_code',
       'occrrnc_time_dc', 'legaldong_code', 'legaldong_name', 'acdnt_hcode',
       'acdnt_hdc', 'acdnt_mcode', 'acdnt_mdc', 'acdnt_code', 'acdnt_dc',
       'lrg_violt_1_code', 'lrg_violt_1_dc', 'x_crdnt', 'y_crdnt',
       'wether_sttus_code', 'wether_sttus_dc', 'road_stle_code',
       'road_stle_dc', 'hhdgw_at', 'acdnt_gae_code', 'acdnt_gae_dc',
       'dprs_cnt', 'sep_cnt', 'slp_cnt', 'inj_aplcnt_cnt',
       'wrngdo_vhcle_asort_hcode', 'wrngdo_vhcle_asort_hdc',
       'wrngdo_vhcle_asort_code', 'wrngdo_vhcle_asort_dc',
       'injury_dgree_1_hcode', 'injury_dgree_1_hdc', 'injury_dgree_1_code',
       'injury_dgree_1_dc', 'acdnt_age_1_code', 'acdnt_age_1_dc',
       'sexdstn_div_1_code', 'sexdstn_div_1_dc', 'dmge_vhcle_asort_hcode',
       'dmge_vhcle_asort_hdc', 'dmge_vhcle_asort_code', 'dmge_vhcle_asort_dc',
       'injury_dgree_2_hcode', 'injury_dgree_2_hdc', 'injury_dgree_2_code',
       'injury_dgree_2_dc', 'acdnt_age_2_code', 'acdnt_age_2_dc',
       'sexdstn_div_2_code', 'sexdstn_div_2_dc', 'bdy_injury_part_1_code',
       'bdy_injury_part_1_dc', 'bdy_injury_part_2_code',
       'bdy_injury_part_2_dc', 'spt_otlnmap_at', 'rdse_sttus_code',
       'rdse_sttus_dc', 'acdnt_pos', 'acdnt_des', 'road_div', 'road_no',
       'route_nm', 'otn_acdnt_no', 'city_idt_code', 'city_idt_dc', 'xCrdnt',
       'yCrdnt', 'acdnt_frm_lv1', 'acdnt_frm_lv2', 'acdnt_frm_lv3',
       'acdnt_sta_lv1', 'acdnt_sta_lv2', 'rn', 'rde_id', 'rde_nm',
       'searchCondition', 'pageIndex', 'recordCountPerPage',
       'searchConditionText', 'searchKeyword', 'pageUnit', 'zoneYn'],
      dtype='object')

In [ ]:
#@title save only location
crdnt = df[['x_crdnt', 'y_crdnt']]
print(f'crdnt: {len(crdnt)}')
crdnt.head(1)

crdnt: 22579

   x_crdnt  y_crdnt
0   988609  1823370

In [ ]:
crdnt.to_csv('data/taas/crdnt/daejeon_crdnt.csv', index = False, encoding = 'cp949')

# Concat Crdnt to TAAS Dataset

In [ ]:
taas = pd.read_csv('data/taas/ko/seoul.csv', encoding = 'cp949')
crdnt = pd.read_csv('data/taas/crdnt/seoul_crdnt.csv', encoding = 'cp949')

In [ ]:
print(f'taas: {len(taas)}')
print(f'crdnt: {len(crdnt)}')

taas: 108398
crdnt: 108398

In [ ]:
taas_df = pd.concat([taas, crdnt], axis=1)

In [ ]:
print(f'taas_df: {len(taas_df)}')
taas_df.head(1)

taas_df: 108398

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x_crdnt,y_crdnt
0,2019010100100001,2019년 1월 1일 00시,화요일,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,승용,남,26세,상해없음,보행자,남,40세,경상,939508,1952236

# Filtering
합집합
- 가해운전자 차종: 이륜차
- 피해운전자 차종: 이륜차

In [ ]:
taas_df['가해운전자 차종'].unique()

array(['승용', '이륜', '화물', '기타불명', '특수', '승합', '원동기', '건설기계', '자전거',
       '개인형이동수단(PM)', '사륜오토바이(ATV)', '농기계'], dtype=object)

In [ ]:
taas_df = taas_df[(taas_df['가해운전자 차종'] == '이륜') | (taas_df['피해운전자 차종'] == '이륜')]
taas_df.reset_index(inplace=True)
taas_df.drop(columns = 'index', inplace=True)
print(f'taas_df: {len(taas_df)}')

taas_df: 25352

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
taas_df.to_csv('data/taas/before/seoul.csv', index = False, encoding = 'cp949')

# Convert location form

In [ ]:
!pip install pyproj

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyproj in /usr/local/lib/python3.8/dist-packages (3.4.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from pyproj) (2022.12.7)

In [ ]:
taas_df = pd.read_csv('data/taas/before/seoul.csv', encoding = 'cp949')

In [ ]:
location = taas_df[['x_crdnt', 'y_crdnt']]
taas_df.drop(columns = ['x_crdnt', 'y_crdnt'], inplace=True)

In [ ]:
taas_df.head(1)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상

In [ ]:
location.head(1)

   x_crdnt  y_crdnt
0   944074  1944702

In [ ]:
from pyproj import Proj, transform
 
epsg5179= Proj(init="epsg:5179")
wgs84=Proj(init='epsg:4326')

/usr/local/lib/python3.8/dist-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/usr/local/lib/python3.8/dist-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [ ]:
location['transformed'] = location.apply(lambda row : transform(epsg5179, wgs84, row['x_crdnt'], row['y_crdnt']), axis = 1)

location.head(1)

<ipython-input-189-c8d899f6864e>:1: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  location['transformed'] = location.apply(lambda row : transform(epsg5179, wgs84, row['x_crdnt'], row['y_crdnt']), axis = 1)
<ipython-input-189-c8d899f6864e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location['transformed'] = location.apply(lambda row : transform(epsg5179, wgs84, row['x_crdnt'], row['y_crdnt']), axis = 1)

   x_crdnt  y_crdnt                              transformed
0   944074  1944702  (126.86728619469758, 37.49988906509788)

In [ ]:
taas_df['x'] = location['transformed'].apply(lambda x : x[0])
taas_df['y'] = location['transformed'].apply(lambda x : x[1])

taas_df.head(1)

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,x,y
0,2019010100100002,2019년 1월 1일 00시,화요일,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,이륜,남,23세,상해없음,승용,남,71세,경상,126.867286,37.499889

In [ ]:
print(f'taas_df: {len(taas_df)}')

taas_df: 25352

In [ ]:
taas_df.to_csv('data/taas/after/seoul.csv', index = False, encoding = 'cp949')

# Combine all dataframes

In [ ]:
seoul = pd.read_csv('data/taas/after/seoul.csv', encoding = 'cp949')
busan = pd.read_csv('data/taas/after/busan.csv', encoding = 'cp949')
daejeon = pd.read_csv('data/taas/after/daejeon.csv', encoding = 'cp949')
chungnam = pd.read_csv('data/taas/after/chungnam.csv', encoding = 'cp949')
sejong = pd.read_csv('data/taas/after/sejong.csv', encoding = 'cp949')
daegu = pd.read_csv('data/taas/after/daegu.csv', encoding = 'cp949')
incheon = pd.read_csv('data/taas/after/incheon.csv', encoding = 'cp949')
gwangju = pd.read_csv('data/taas/after/gwangju.csv', encoding = 'cp949')
ulsan = pd.read_csv('data/taas/after/ulsan.csv', encoding = 'cp949')

In [ ]:
print(f'seoul: {len(seoul)}')
print(f'busan: {len(busan)}')
print(f'daejeon: {len(daejeon)}')
print(f'chungnam: {len(chungnam)}')
print(f'sejong: {len(sejong)}')
print(f'daegu: {len(daegu)}')
print(f'incheon: {len(incheon)}')
print(f'gwangju: {len(gwangju)}')
print(f'ulsan: {len(ulsan)}')

seoul: 25352
busan: 8376
daejeon: 3467
chungnam: 4666
sejong: 409
daegu: 8881
incheon: 3951
gwangju: 3497
ulsan: 2816

In [ ]:
taas_only = pd.concat([seoul, busan, daejeon, chungnam, sejong, daegu, incheon, gwangju, ulsan])

In [ ]:
print(f'all location: {len(taas_only)}')

all location: 61415

In [ ]:
taas_only.to_csv('data/taas/taas_only.csv', index = False, encoding = 'cp949')